.main-container{
    margin-top: 7%;
 
   margin-bottom: 8%;
}

.main-container .first-part {
    background-color:honeydew;
    border-radius: 02px;
    border-top: 04px solid #232526;
    border-bottom: 04px solid #232526;
    width:550px;
    height:400px;
    margin-left: 32%;
    border-radius:10px 10px;
    padding:10px;
    padding-top: 30px;
    box-shadow:0px 0px 10px 1px black ;
    
  }

  
  .main-container .first-part  ul{
    list-style: none;
  }
  
  .main-container .first-part  ul li {
    margin: 25px;
  }
  
  .main-container .first-part  ul li i {
    font-size: 25px;
    color: #232526;
    
  }
  #location{
    color:crimson;
  }
  #email{
    color:blue;
  }
  #call{
    color:green;
  }
  
  #location:hover{
    color:crimson;
    
    transform:translateY(2px);
  }

  #email:hover{
    color:blue;
  
    transform:translateY(2px);
  }

  #call:hover{
    color:green;
   
    transform:translateY(2px);
  }
  
  .main-container .first-part  ul li strong {
    margin-left: 10px;
    font-size: 1.2rem;
   
  }
  
  .main-container .first-part  ul li p {
    font-size: 14px;
    margin-left: 35px;
    margin-top: 10px;
  }
.main-container .first-part .links{
    text-decoration: none;
    color:black;
}



.main-container .second-part {
  background-color:white;
  border-radius: 02px;
  width:550px;
  height:600px;
  margin-left: 32%;
 border-radius:10px 10px;
  padding:10px 10px;
  margin-top: 10px;
  
  }


 /*second card form css*/
 .main-container .second-part form {
 padding: 10px;
 padding-left:40px;
 border: 03px solid #232526;
 background-color:honeydew;
 border-radius: 50px 0px;

}

.main-container .second-part form input,textarea {
 width: 90%;
 margin: 05px 0 0 10px;
 padding: 07px 10px;
 border: 1px solid #232526;
 font-size: 1rem;
 border-radius: 05px;


}

.main-container .second-part h2 {
 margin: 1.5rem;
 border-bottom: 0.2rem #232526;
 font-size: 40px;
 margin-left:30% ;
}

.main-container .second-part label {
 display: block;
 padding-top: 15px;
 padding-left: 10px;
}

.main-container .second-part button {
 margin: 20px 10px;
 border: 1px solid #fff;
 padding: 10px 20px;
 background: #232526;
 color:#fff;
 font-size: 1rem;
 border-radius: 23px;
 cursor: pointer;
 transition: all 0.3s;
 font-family: 'Montserrat', sans-serif;
 justify-content: center;
 text-align: center;
}

.main-container .second-part button:hover {
 background: #fff;
 transition: 0.3s;
 color: #232526;
 border:1px solid   #232526;
 background-color:grey;
}


