body {
    margin: 0%;
    padding: 0%;
   background-color: #ffffff;
    /* background-color: #232526; */
   
    
  }
  /*---------nav bar----------*/
  .navbar {
    height: 100px;
    width: 100%;
    background-color:darkgrey;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
   
    
    display: flex;
  }
  .logo {
    float: left;
    height: 90px;
    position: absolute;
    left: 20px;
  }
  .menu{
    position: absolute;
    right: 100px;
    top: 10px;
    display: flex;
    white-space: nowrap;
    
  }
  .menu a {
    text-decoration: none;
    margin: 30px;
    transition: all .4s ease-in-out;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .menu a:hover {
    transform: scale(1.1);
    cursor: pointer;
    color:dimgrey;
  }
  
  
  
  
  .footer {
    height: 100px;
    width: 100%;
    background-color:darkgrey;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  
  

 
  

  
  
  
  
  
  
  
  
  
  